[Unit]
Description=Mount external USB drive for games

[Mount]
What=/dev/disk/by-uuid/33e3a493-4e10-4391-82e1-30b69f1ca8b4
Where=/mnt/games
Type=ext4
Options=defaults,nofail
